$sp: 768px;

@mixin pc {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
body {
  margin: 0;
}
img {
  width: 100%;
}
.l-wrap {
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
  padding: 2.5vw;

  @include pc {
    display: none;
  }
}

main {
  display: block;
  margin: auto;
  font-family: serif;
}

.l-sp {
  &__headerLogo {
    width: 70px;
    height: auto;
  }

  &__phrase {
    font-size: 10px;
    font-family: serif;
    text-align: center;
    margin-left: 2.5vw;
  }

  &__menuLists {
    display: none;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    z-index: 999;
  }

    ul {
      display: block;
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
      padding: 10px;
    }

    a {
      color: #000;
      text-decoration: none;
    }

}

@include sp {
  .btn{
      width: 100%;
      display: block;
      width: 39px;
      height: 39px;
      position: absolute;
      right: 0;
      z-index: 999;/*追記：いつも一番上*/
  }

  .bar{
          width: 20px;
      height: 2px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
  }

  .bar-top{ top: 10px;}

  .bar-bottom{ bottom: 10px;}

  .btn.close .bar-top{
      transform: translate(-50%,10px) rotate(45deg);
      transition: transform .3s;
  }

  .btn.close .bar-middle{
      opacity: 0;
  }

  .btn.close .bar-bottom{
      transform: translate(-50%,-8px) rotate(-45deg);
      transition: transform .3s;
  }
}


.l-main__menu {
  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #efece4;
    font-size: 1.2vw;

    @include sp {
      font-size: 1.8vw;
    }
  }

  & li {
    width: 25%;
    text-align: center;
    list-style-type: none;
    padding: 2px 2px 0 0;
  }

  & ul li.current a {
    background: url(../../assets/img/header-color.jpg) no-repeat center center /
      1400px;
    color: #fff;
  }

  & li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 16px 2px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;

    @include pc {
      transition: all .3s ease 0s;
    }
  }

  & li a:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }
}
.p-sofia {
  font-family: serif;
  font-weight: 700;
}

.p-pcSearch {
  width: 50%;

  &__form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c1c1c1;
    background-color: #fff;

    @include sp {
      display: none;
    }
  }

  &__box {
    width: 50vw;
    font-family: serif;
    border: none;
    padding: 12px 40px 12px 20px;
  }

  &__btn {
    padding: 16px;
  }

  &__btn img {
    border: none;
  }
}
.p-spSearch {
  width: 90%;
  margin: 0 auto 64px;

  &__form {
    display: flex;
    justify-content: space-between;
    background-color: #efeeee;

    @include pc {
      display: none;
    }
  }

  &__box {
    width: 90vw;
    font-family: serif;
    border: none;
    padding: 12px 0 12px 20px;
    background-color: #efeeee;
  }

  &__btn {
    padding: 16px;
  }

  &__btn img {
    border: none;
  }
}

.l-main__menu2 {
  & ul {
    display: flex;
    justify-content: center;
    padding: 0;

    @include sp {
      display: none;
    }
  }

  & li {
    list-style-type: none;
    position: relative;
    padding: 0 1.5vw;
  }

  & li a {
    font-size: 1.2vw;
    font-family: serif;
    color: #fff;
    text-decoration: none;
    outline: none;
    transition: all .3s ease 0s;
  }

  & li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  & li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    background: #fff;
  }
}

.p-pickUp {
  background: url(../../assets/img/header-color.jpg) no-repeat center / 1400px;
  background-position: top left;
  background-size: 100% 50%;
  margin-bottom: 190px;

  &__contents {
    margin: 0 80px;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    // width: 100%;
    // object-fit: cover;

    @include sp {
      width: 92vw;
      height: 92vw;
      margin: 0 auto;
      padding-top: 24px;
    }
  }

  &__contents img {
    width: 100%;
    height: 700px;
    object-fit: cover;

    @include sp {
      width: 100%;
      object-fit: cover;
    }
  }

    @include pc {
      transition:1s all;
    }

  &__contents img:hover {
    @include pc {
      transform:scale(1.2,1.2);
      transition:1s all;
    }
  }

  &__topArticle img {

  }

  .hidden {
    display: none;
  }

  &__label {
    width: 190px;
    padding: 24px 20px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: right;
    background-color: #fff;
    aspect-ratio: 20 / 19;
    clip-path: polygon(100% 0, 0 0, 100% 100%);

    @include sp {
      width: 146px;
      padding: 20px 15px 0 0;
      position: absolute;
      top: 24px;
      right: 0;
      z-index: 2;
      text-align: right;
      background-color: #fff;
      aspect-ratio: 20 / 19;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  &__label span {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__labelBox {
    width: fit-content;
    margin-left: auto;
  }

  &__labelTop {
    font-size: 18px;

    @include sp {
      font-size: 14px;
    }
  }

  &__labelBtm {
    font-size: 27px;
    line-height: 1;

    @include sp {
      font-size: 18px;
      line-height: 0.8;
    }
  }

  &__text {
    // letter-spacing: 0.1em;
    // top: 60%;
    // left: 53px;
    // background-color: #fff;
    // border-bottom: 5px solid #84c3cf;
    // position: absolute;
    // z-index: 2;
    // font-size: 1.6vw;
    // padding: 30px;
    letter-spacing: 0.1em;
    top: 62%;
    left: -27px;
    background-color: #fff;
    border-bottom: 5px solid #84c3cf;
    position: absolute;
    z-index: 3;
    font-size: 1.6vw;
    padding: 30px;

    @include sp {
      width: 96%;
      top: 100%;
      left: -12px;
      margin: 0;
      padding: 16px;
      font-size: 3.6vw;
    }
  }

  &__text ::before {
    content: "";
    display: inline-block;
    background: #84c3cf;
    aspect-ratio: 1 / 1;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    width: 27px;
    position: absolute;
    bottom: 100%;
    left: 0;

    @include sp {
      width: 12px;
      left: 0;
    }
  }

  &__text date {
    font-size: 1.6vw;

    @include sp {
      font-size: 3vw;
    }
  }
}

.p-topScroll {
  margin: 50px auto;

  @include sp {
    display: flex;
    align-items: flex-end;

  }

  &__btn {
    position: absolute;
    right: 60px;
    bottom:18%;
  }

  &__prevBtn {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;

    @include pc {
      width: 3vw;
    }

    @include sp {
      width: 6vw;
    }
  }
  &__prevBtn img {
    vertical-align: bottom;
  }

  &__nextBtn {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;

    @include pc {
      width: 3vw;
      margin-top: clamp(50px, 7.5vw, 100px);
    }

    @include sp {
      width: 6vw;
      margin-left: 36px;
    }
  }
  &__nextBtn img {
    vertical-align: bottom
  }

  &__text {
    position: relative;

    @include pc {
      writing-mode: vertical-rl;
      margin: 50px auto;
    }

    @include sp {
    }
  }

  &__text::after {
    content: "";
    position: absolute;
    right: 55%;
    width: 1px;
    height: 100%;
    background: #000;
    animation: pathmove 1.4s ease-in-out infinite;
    margin-top: 16px;

    @include sp {
      margin-top: -8px;
    }
  }

  @keyframes pathmove {
    0%{
      height:0;
      top:30px;
      opacity: 0;
    }
    30%{
      height:46px;
      opacity: 1;
    }
    100%{
      height:16px;
      top:50px;
      opacity: 0;
    }

    // @include sp {
    //   0%{
    //     height:0;
    //     top:30px;
    //     opacity: 0;
    //   }
    //   30%{
    //     height:30px;
    //     opacity: 1;
    //   }
    //   100%{
    //     height:20px;
    //     top:50px;
    //     opacity: 0;
    //   }
    // }
  }

  &__text::before {
    content: "";
    display: inline-block;
    background: url(../../assets/img/d_arrow.png) no-repeat center center / 100%;
    aspect-ratio: 3 / 2;
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
    z-index: 2;
    width: 28px;
    bottom: -76px;

    @include sp {
      bottom: -48px;
    }
  }
}

.p-topScroll {
  &__Down {
    position: absolute;
    right: 24px;
    bottom: -240px;
  }
}

.l-mainTop {
  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../../assets/img/header-color.jpg) no-repeat center center /
      1400px;
    padding: 2vw 3vw 0 3vw;

    @include sp {
      padding: 0;
    }
  }

  &__logo {
    width: 12.5vw;
    height: auto;
    margin: 0px 20px 20px 20px;
    transition: all .3s ease 0s;

    @include sp {
      display: none;
    }
  }

  &__logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}

.p-hotNews {
  margin: 50px;

  @include sp {
    margin: 20px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vw 0 6vw 0;

    @include sp {
      margin: 16vw 0 0 0;
    }
  }

  &__titleBox {
    text-align: center;
  }

  &__title {
    font-size: 34px;
    margin: 0;

    @include sp {
      font-size: 30px;
    }
  }

  &__subTitle {
    font-size: 16px;
    margin: 0;
  }

  &__icon {
    width: 10%;
    height: 100%;
    padding: 12px 32px;

    @include sp {
      width: 10%;
      height: 100%;
      padding: 20px;
    }
  }

  &__list {

    @include pc {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2.5vw;
    }

    @include sp {
    }
  }

  &__list article {
    position: relative;

    @include sp {
      width: 100%;
      margin: 2vw auto;
    }
  }

  &__list article a {
    text-decoration: none;
    outline: none;
    color: #000000;
  }

  &__list article:nth-of-type(1) {

    @include pc {
      padding: 0 56px 56px 0;
      border-bottom: 1px solid #d2d2d2;
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }
  }

  &__list article:nth-of-type(1)::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 92%;
    position: absolute;
    top: 0;
    right: 0;
    background: #d2d2d2;

    @include sp {
      display: none;
    }
  }

  &__list article:nth-of-type(2) {

    @include pc {
      padding: 0 0 56px 56px;
      border-bottom: 1px solid #d2d2d2;
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }
  }

  &__list article:nth-of-type(3) {

    @include pc {
      padding: 56px 56px 56px 0;
      grid-row: 3 / 5;
      grid-column: 1 / 2;
    }

    @include sp {
      width: 50%;
      float: right;
      margin: 0;
    }
  }

  &__list article:nth-of-type(3)::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 88%;
    position: absolute;
    top: 56px;
    right: 0;
    background: #d2d2d2;

    @include sp {
      display: none;
    }
  }

  &__list article:nth-of-type(4) {

    @include pc {
      display: flex;
      gap: 25px;
      padding: 56px 0 56px 56px;
      grid-row: 3 / 4;
      grid-column: 2 / 3;

      & img {
        width: 300px;
      }
    }

    @include sp {
      width: 50%;
      margin: 0;
    }
  }

  &__list article:nth-of-type(4) img {
    display: block;
  }

  &__list article:nth-of-type(4)::before {
    content: "";
    display: inline-block;
    background: #d2d2d2;
    position: absolute;
    width: 82%;
    height: 1px;
    bottom: 0;

    @include sp {
      display: none;
    }
  }

  &__list article:nth-of-type(5) {

    @include pc {
      display: flex;
      gap: 25px;
      padding: 56px 0 56px 56px;

      & img {
        width: 300px;
      }
    }

    @include sp {
      display: flow-root;
    }
  }

  &__list article:nth-of-type(6) {

    @include pc {
      padding: 56px 56px 0 0;
      border-top: 1px solid #d2d2d2;
      grid-row: 5 / 7;
      grid-column: 1 / 2;
    }
  }

  &__list article:nth-of-type(6)::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 90%;
    position: absolute;
    top: 56px;
    right: 0;
    background: #d2d2d2;

    @include sp {
      display: none;
    }
  }

  &__list article:nth-of-type(7) {

    @include pc {
      padding: 56px 0 0 56px;
      border-top: 1px solid #d2d2d2;
      grid-row: 5 / 7;
      grid-column: 2 / 3;
    }
  }

  &__imgArea {
    position: relative;
    width: 100%;
  }

  &__label {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #7e7562;
    margin: 0;
    padding: 5px 0;
  }

  &__label::after {
    content: "";
    display: inline-block;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
    background-color: #7e7562;
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 3;
  }

  &__label a {
    padding: 7px 10px 8px 15px;
  }

  &__label span {
    color: #fff;
    width: fit-content;
    font-size: 11px;
  }

  &__img {
    overflow: hidden;
  }

  &__img img {
    object-fit: cover;
    vertical-align: bottom;

    @include pc {
      transition:1s all;
    }
  }

  &__img img:hover{
    @include pc {
      transform:scale(1.2,1.2);
      transition:1s all;
    }
  }

  &__date {
    font-size: 13px;

    @include pc {
      transition: all .3s ease 0s;
    }
  }

  &__date:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }

  &__heading {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;

    @include pc {
      transition: all .3s ease 0s;
    }

    @include sp {
      font-size: 16px;
      -webkit-line-clamp: 3;
    }
  }
  &__heading:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }

  &__text {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;

    @include pc {
    margin-bottom: 80px;
    transition: all .3s ease 0s;
    }
  }

  &__text:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }

  &__textArea {
    margin-bottom: 60px;
  }

  h5:nth-child(4) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
  }

  &__moreLink {
    width: 40%;
    text-align: center;
    margin: 64px auto;

    @include sp {
      width: 90%;
    }
  }

  &__moreLink a {
    display: block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000000;
    padding: 12px 0;

    @include pc {
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 200% auto;
      background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
      transition: color 0.6s, background-position 0.6s;
    }
  }

  &__moreLink a:hover {
    background-position: 0 0;
  }

  &__more {
    font-size: 13px;
  }
}

.p-onlineShop {
  background-color: #f8f8f8;

  @include pc {
    display: flex;
    gap: 60px;
    padding: 100px 20px;
  }

  @include sp {
    padding: 100px 28px;
  }

  &__leftBox {

    @include pc {
      width: 30%;
    }
  }

  &__textBox {
    text-align: left;
    margin-bottom: 40px;

    @include sp {
      text-align: center;
    }
  }

  &__newsTitle {
    font-size: 30px;
    margin: 0;
  }

  &__newsSubtitle {
    font-size: 16px;
    margin: 0;
  }

  &__btn {
    display: flex;

    @include sp {
      display: none;
    }
  }

  &__prevBtn {
    @include pc {
      width: 3vw;
      cursor: pointer;
    }
  }

  &__prevBtn a {
    vertical-align: bottom;
  }

  &__nextBtn {
    margin-left: 10px;

    @include pc {
      width: 3vw;
      cursor: pointer;
    }
  }

  &__nextBtn a {
    vertical-align: bottom;
  }

  &__newsMore {
    text-align: center;
    margin: 64px auto;

    @include sp {
      display: none;
    }
  }

  &__newsMore a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    border: 1px solid #000000;
    padding: 12px 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
    transition: color 0.6s, background-position 0.6s;
  }

  &__newsMore a:hover {
    background-position: 0 0;
  }

  &__rightBox {
    @include pc {
      width: 70%;
      height: 300px;
      position: relative;
      overflow: hidden;
    }
  }

  &__itemImg {
    position: relative;
  }

  &__label {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #7e7562;
    margin: 0;
    padding: 5px 0;
  }

  &__label::after {
    content: "";
    display: inline-block;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
    background-color: #7e7562;
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 3;
  }

  &__label a {
    padding: 7px 10px 8px 15px;
  }

  &__label span {
    color: #fff;
    width: fit-content;
    font-size: 11px;
  }

  &__items {
    padding-inline-start: 0;

    @include pc {
      display: flex;
      justify-content: space-around;
      overflow-y: hidden;

      width: 300%;
      height: 100%;
      display: flex;
      transition: all 0.3s;
    }
  }

  &__itemName {
    font-size: 16px;
    margin: 0;
  }

  &__itemText {
    font-size: 14px;
    margin: 10px 0 50px 0;
  }

  &__items li {
    list-style-type: none;

    @include pc {
      width: 33.33%;
      height: 100%;
      font-size: 16px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  &__items li:nth-child(1) {
    transform: translateX(0);
  }

  &__items li:nth-child(2) {
    transform: translateX(-33.33%);
  }

  &__items li a {
    font-size: 1.3vw;
    text-decoration: none;
    outline: none;
    color: #000000;
  }

  &__itemsImg {
    // width: 30vw;
  }

  &__spMore {
    width: 90%;
    margin: 0 auto;

    @include pc {
      display: none;
    }
  }

  &__spMore a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    text-align: center;
    border: 1px solid #000000;
    padding: 12px 0;
  }

}

.p-shopList {
  margin: 54px 24px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 54px 0;

  &__titleBox {
    text-align: center;
  }

  &__title {
    font-size: 34px;
    margin: 0;

    @include sp {
      font-size: 30px;
    }
  }

  &__subTitle {
    font-size: 16px;
    margin: 0;
  }

  &__btn {
    display: grid;
    padding-inline-start: 0;

    @include pc {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include sp {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__btn li {
    list-style: none;
    width: 100%;

    @include pc {
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 200% auto;
      background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
      transition: color 0.6s, background-position 0.6s;
    }
  }

  &__btn li:hover {
    background-position: 0 0;
  }

  &__btn a {
    display: block;
    font-size: 1.4vw;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 10px 0;
    text-align: center;

    @include sp {
      font-size: 10px;
    }
  }
}

.p-project {
  padding: 90px 24px;
  background: url(../../assets/img/header-color.jpg);

  &__textBox {
    text-align: center;
  }

  &__title {
    font-size: 34px;
    margin: 0;

    @include sp {
      font-size: 30px;
    }
  }

  &__subTitle {
    font-size: 16px;
    margin: 0;
  }

  &__article {
    padding-inline-start: 0;

    @include pc {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__img {
    height: 156px;
    object-fit: cover;
    vertical-align: bottom;

    @include sp {
      height: 200px;
      display: block;
      object-fit: cover;
    }
  }

  &__article li {
    list-style-type: none;
    position: relative;
    margin: 30px 12px;
  }

  &__article a {
    color: #000;
    display: block;

    @include pc {
      background-color: #fff;
      transition: all  0.3s ease;
    }
  }

  &__article a:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }

  &__article span {
    position: absolute;
    top: 32%;
    left: 0;
    font-size: 1.3vw;
    padding: 12px 40px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;

    @include sp {
      font-size: 3.5vw;
      top: 36%;
    }
  }
}

.p-guidance {
  margin: 90px 16px;

  &__list {
    padding-inline-start: 0;

    @include pc {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__img {
    height: 156px;
    object-fit: cover;
    vertical-align: bottom;

    @include sp {
      height: 200px;
      display: block;
      object-fit: cover;
    }
  }

  &__list li {
    list-style-type: none;
    position: relative;
    margin: 30px 12px;
  }

  &__list li a {
    color: #000;
    text-decoration: none;
    display: block;

    @include pc {
      background-color: #fff;
      transition: all  0.3s ease;
    }
  }

  &__list a:hover {
    @include pc {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    }
  }

  &__list span {
    position: absolute;
    width: 50%;
    height: 16%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 1.5vw;
    padding: 12px 24px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;

    @include sp {
      font-size: 3.5vw;
    }
  }
}

.l-footer {
  &__logo {
    width: 12.5vw;
    height: auto;
    margin: 0px 20px 20px 20px;
    transition: all .3s ease 0s;

    @include sp {
      display: none;
    }
  }

  &__logo:hover {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
  }

  &__topArea {
    margin: 0 auto 80px;

    @include pc {
      display: flex;
      justify-content: space-around;
    }
  }

  &__menuList1 {
    padding-inline-start: 0;

    @include pc {
      display: flex;
      gap: clamp(25px, 4.5vw, 50px);
    }

    @include sp {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      margin: 16px;
    }
  }

  &__menuList1 li {
    list-style: none;
  }

  &__menuList1 li a {
    font-size: 1.2vw;
    color: #000;
    text-decoration: none;
    outline: none;

    @include pc {
      background-color: #fff;
      transition: all  0.3s ease;
    }

    @include sp {
      display: block;
      font-size: 12px;
      border: 1px solid #c1c1c1;
      padding: 4px 0;
      text-align: center;
    }
  }

  &__menuList1 li a:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
  }

  &__iconList {
    display: flex;
    margin-top: 24px;

    @include pc {
      display: flex;
      width: 12vw;
      gap: 24px;
    }
  }

  &__iconList a {

    @include pc {
      background-color: #fff;
      transition: all  0.3s ease;
    }

    @include sp {
      width: 6vw;
      margin-left: 20px;
    }
  }

  &__iconList a:hover {
    @include pc {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
}

  &__menuList2 {
    display: flex;
    margin: 0 40px 40px;
    padding: 0;
    background-color: #ccc4ad;
    font-size: 1.2vw;
    gap: 2px;
    padding: 2px;

    @include sp {
      display: none;
    }
  }

  &__menuList2 li {
    width: 25%;
    text-align: center;
    list-style-type: none;
  }

  &__menuList2 li.current a {
    background-color: #fff;
    color: #000;
  }

  &__menuList2 li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 16px 2px;
    background-color: #efece4;
    border-radius: 5px;
    transition: all .3s ease 0s;
  }

  &__menuList2 li a:hover {
    cursor: pointer;
    background-color: #e0d8c0;
  }

  &__copy {
    padding: 22px 0;
    background-color: #efece4;
    text-align: center;
  }
}

.p-pageTop {
  width: 10.5vw;
  font-family: serif;
  text-align: center;
  position: fixed;
  bottom: -15px;
  right: 0;
  z-index: 2;

  @include sp {
    width: 20vw;
  }
}
.p-pageTop a {
  display: block;
  background: url(../../assets/img/coffee-mill.png) no-repeat center center / 68%;
  aspect-ratio: 475 / 455;
  text-decoration: none;
  color: #000;
  font-size: 1.2vw;

  @include sp {
    font-size: 1.8vw;
  }
}