@charset "UTF-8";
body {
  margin: 0;
}

img {
  width: 100%;
}

.l-wrap {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 2.5vw;
}
@media screen and (min-width: 768px) {
  header {
    display: none;
  }
}

main {
  display: block;
  margin: auto;
  font-family: serif;
}

.l-sp__headerLogo {
  width: 70px;
  height: auto;
}
.l-sp__phrase {
  font-size: 10px;
  font-family: serif;
  text-align: center;
  margin-left: 2.5vw;
}
.l-sp__menuLists {
  display: none;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  z-index: 4;
}
.l-sp__menuLists.panelactive {
  opacity: 1;
  z-index: 999;
}
.l-sp__menuLists ul {
  display: block;
  padding: 0;
  margin: 0;
}
.l-sp__menuLists li {
  list-style: none;
  padding: 10px;
}
.l-sp__menuLists li a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 100%;
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 999;
  }
  .bar {
    width: 26px;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    background-color: #000;
  }
  .bar-top {
    top: 10px;
  }
  .bar-bottom {
    bottom: 10px;
  }
  .btn.close .bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }
  .btn.close .bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
}
.l-main__menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #efece4;
  font-size: 1.2vw;
}
@media screen and (max-width: 768px) {
  .l-main__menu ul {
    font-size: 1.8vw;
  }
}
.l-main__menu li {
  width: 25%;
  text-align: center;
  list-style-type: none;
  padding: 2px 2px 0 0;
}
.l-main__menu ul li.current a {
  background: url(../../assets/img/header-color.jpg) no-repeat center center/1400px;
  color: #fff;
}
.l-main__menu li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 16px 2px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}
@media screen and (min-width: 768px) {
  .l-main__menu li a {
    transition: all 0.3s ease 0s;
  }
}
@media screen and (min-width: 768px) {
  .l-main__menu li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}

.p-sofia {
  font-family: serif;
  font-weight: 700;
}

.p-pcSearch {
  width: 50%;
}
.p-pcSearch__form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .p-pcSearch__form {
    display: none;
  }
}
.p-pcSearch__box {
  width: 50vw;
  font-family: serif;
  border: none;
  padding: 12px 40px 12px 20px;
}
.p-pcSearch__btn {
  padding: 16px;
}
.p-pcSearch__btn img {
  border: none;
}

.p-spSearch {
  width: 90%;
  margin: 0 auto 64px;
}
.p-spSearch__form {
  display: flex;
  justify-content: space-between;
  background-color: #efeeee;
}
@media screen and (min-width: 768px) {
  .p-spSearch__form {
    display: none;
  }
}
.p-spSearch__box {
  width: 90vw;
  font-family: serif;
  border: none;
  padding: 12px 0 12px 20px;
  background-color: #efeeee;
}
.p-spSearch__btn {
  padding: 16px;
}
.p-spSearch__btn img {
  border: none;
}

.l-main__menu2 ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .l-main__menu2 ul {
    display: none;
  }
}
.l-main__menu2 li {
  list-style-type: none;
  position: relative;
  padding: 0 1.5vw;
}
.l-main__menu2 li a {
  font-size: 1.2vw;
  font-family: serif;
  color: #fff;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease 0s;
}
.l-main__menu2 li a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.l-main__menu2 li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 0;
  background: #fff;
}

.p-pickUp {
  background: url(../../assets/img/header-color.jpg) no-repeat center/1400px;
  background-position: top left;
  background-size: 100% 50%;
  margin-bottom: 190px;
}
.p-pickUp__contents {
  margin: 0 80px;
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .p-pickUp__contents {
    width: 92vw;
    height: 92vw;
    margin: 0 auto;
    padding-top: 24px;
  }
}
.p-pickUp__contents img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .p-pickUp__contents img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .p-pickUp {
    transition: 1s all;
  }
}
@media screen and (min-width: 768px) {
  .p-pickUp__contents img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
  }
}
.p-pickUp .hidden {
  display: none;
}
.p-pickUp__label {
  width: 190px;
  padding: 24px 20px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  text-align: right;
  background-color: #fff;
  aspect-ratio: 20/19;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
          clip-path: polygon(100% 0, 0 0, 100% 100%);
}
@media screen and (max-width: 768px) {
  .p-pickUp__label {
    width: 146px;
    padding: 20px 15px 0 0;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 2;
    text-align: right;
    background-color: #fff;
    aspect-ratio: 20/19;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}
.p-pickUp__label span {
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
}
.p-pickUp__labelBox {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.p-pickUp__labelTop {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .p-pickUp__labelTop {
    font-size: 14px;
  }
}
.p-pickUp__labelBtm {
  font-size: 27px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .p-pickUp__labelBtm {
    font-size: 18px;
    line-height: 0.8;
  }
}
.p-pickUp__text {
  letter-spacing: 0.1em;
  top: 62%;
  left: -27px;
  background-color: #fff;
  border-bottom: 5px solid #84c3cf;
  position: absolute;
  z-index: 3;
  font-size: 1.6vw;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .p-pickUp__text {
    width: 96%;
    top: 100%;
    left: -12px;
    margin: 0;
    padding: 16px;
    font-size: 3.6vw;
  }
}
.p-pickUp__text ::before {
  content: "";
  display: inline-block;
  background: #84c3cf;
  aspect-ratio: 1/1;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  width: 27px;
  position: absolute;
  bottom: 100%;
  left: 0;
}
@media screen and (max-width: 768px) {
  .p-pickUp__text ::before {
    width: 12px;
    left: 0;
  }
}
.p-pickUp__text date {
  font-size: 1.6vw;
}
@media screen and (max-width: 768px) {
  .p-pickUp__text date {
    font-size: 3vw;
  }
}

.p-topScroll {
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  .p-topScroll {
    display: flex;
    align-items: flex-end;
  }
}
.p-topScroll__btn {
  position: absolute;
  right: 60px;
  bottom: 18%;
}
.p-topScroll__prevBtn {
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: absolute;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .p-topScroll__prevBtn {
    width: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .p-topScroll__prevBtn {
    width: 6vw;
  }
}
.p-topScroll__prevBtn img {
  vertical-align: bottom;
}
.p-topScroll__nextBtn {
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: absolute;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .p-topScroll__nextBtn {
    width: 3vw;
    margin-top: clamp(50px, 7.5vw, 100px);
  }
}
@media screen and (max-width: 768px) {
  .p-topScroll__nextBtn {
    width: 6vw;
    margin-left: 36px;
  }
}
.p-topScroll__nextBtn img {
  vertical-align: bottom;
}
.p-topScroll__text {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-topScroll__text {
    writing-mode: vertical-rl;
    margin: 50px auto;
  }
}
.p-topScroll__text::after {
  content: "";
  position: absolute;
  right: 55%;
  width: 1px;
  height: 100%;
  background: #000;
  animation: pathmove 1.4s ease-in-out infinite;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .p-topScroll__text::after {
    margin-top: -8px;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 30px;
    opacity: 0;
  }
  30% {
    height: 46px;
    opacity: 1;
  }
  100% {
    height: 16px;
    top: 50px;
    opacity: 0;
  }
}
.p-topScroll__text::before {
  content: "";
  display: inline-block;
  background: url(../../assets/img/d_arrow.png) no-repeat center center/100%;
  aspect-ratio: 3/2;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  z-index: 2;
  width: 28px;
  bottom: -76px;
}
@media screen and (max-width: 768px) {
  .p-topScroll__text::before {
    bottom: -48px;
  }
}

.p-topScroll__Down {
  position: absolute;
  right: 24px;
  bottom: -240px;
}

.l-mainTop__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../../assets/img/header-color.jpg) no-repeat center center/1400px;
  padding: 2vw 3vw 0 3vw;
}
@media screen and (max-width: 768px) {
  .l-mainTop__contents {
    padding: 0;
  }
}
.l-mainTop__logo {
  width: 12.5vw;
  height: auto;
  margin: 0px 20px 20px 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 768px) {
  .l-mainTop__logo {
    display: none;
  }
}
.l-mainTop__logo:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.p-hotNews {
  margin: 50px;
}
@media screen and (max-width: 768px) {
  .p-hotNews {
    margin: 20px;
  }
}
.p-hotNews__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vw 0 6vw 0;
}
@media screen and (max-width: 768px) {
  .p-hotNews__title {
    margin: 16vw 0 0 0;
  }
}
.p-hotNews__titleBox {
  text-align: center;
}
.p-hotNews__title {
  font-size: 34px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .p-hotNews__title {
    font-size: 30px;
  }
}
.p-hotNews__subTitle {
  font-size: 16px;
  margin: 0;
}
.p-hotNews__icon {
  width: 10%;
  height: 100%;
  padding: 12px 32px;
}
@media screen and (max-width: 768px) {
  .p-hotNews__icon {
    width: 10%;
    height: 100%;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5vw;
  }
}
.p-hotNews__list article {
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article {
    width: 100%;
    margin: 2vw auto;
  }
}
.p-hotNews__list article a {
  text-decoration: none;
  outline: none;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(1) {
    padding: 0 56px 56px 0;
    border-bottom: 1px solid #d2d2d2;
    grid-row: 1/3;
    grid-column: 1/2;
  }
}
.p-hotNews__list article:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 92%;
  position: absolute;
  top: 0;
  right: 0;
  background: #d2d2d2;
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(1)::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(2) {
    padding: 0 0 56px 56px;
    border-bottom: 1px solid #d2d2d2;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(3) {
    padding: 56px 56px 56px 0;
    grid-row: 3/5;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(3) {
    width: 50%;
    float: right;
    margin: 0;
  }
}
.p-hotNews__list article:nth-of-type(3)::before {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 88%;
  position: absolute;
  top: 56px;
  right: 0;
  background: #d2d2d2;
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(3)::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(4) {
    display: flex;
    gap: 25px;
    padding: 56px 0 56px 56px;
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .p-hotNews__list article:nth-of-type(4) img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(4) {
    width: 50%;
    margin: 0;
  }
}
.p-hotNews__list article:nth-of-type(4) img {
  display: block;
}
.p-hotNews__list article:nth-of-type(4)::before {
  content: "";
  display: inline-block;
  background: #d2d2d2;
  position: absolute;
  width: 82%;
  height: 1px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(4)::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(5) {
    display: flex;
    gap: 25px;
    padding: 56px 0 56px 56px;
  }
  .p-hotNews__list article:nth-of-type(5) img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(5) {
    display: flow-root;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(6) {
    padding: 56px 56px 0 0;
    border-top: 1px solid #d2d2d2;
    grid-row: 5/7;
    grid-column: 1/2;
  }
}
.p-hotNews__list article:nth-of-type(6)::before {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 90%;
  position: absolute;
  top: 56px;
  right: 0;
  background: #d2d2d2;
}
@media screen and (max-width: 768px) {
  .p-hotNews__list article:nth-of-type(6)::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__list article:nth-of-type(7) {
    padding: 56px 0 0 56px;
    border-top: 1px solid #d2d2d2;
    grid-row: 5/7;
    grid-column: 2/3;
  }
}
.p-hotNews__imgArea {
  position: relative;
  width: 100%;
}
.p-hotNews__label {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #7e7562;
  margin: 0;
  padding: 5px 0;
}
.p-hotNews__label::after {
  content: "";
  display: inline-block;
  -webkit-clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
  background-color: #7e7562;
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 3;
}
.p-hotNews__label a {
  padding: 7px 10px 8px 15px;
}
.p-hotNews__label span {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 11px;
}
.p-hotNews__img {
  overflow: hidden;
}
.p-hotNews__img img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .p-hotNews__img img {
    transition: 1s all;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__img img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
  }
}
.p-hotNews__date {
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .p-hotNews__date {
    transition: all 0.3s ease 0s;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__date:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.p-hotNews__heading {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
@media screen and (min-width: 768px) {
  .p-hotNews__heading {
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 768px) {
  .p-hotNews__heading {
    font-size: 16px;
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__heading:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.p-hotNews__text {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
@media screen and (min-width: 768px) {
  .p-hotNews__text {
    margin-bottom: 80px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (min-width: 768px) {
  .p-hotNews__text:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.p-hotNews__textArea {
  margin-bottom: 60px;
}
.p-hotNews h5:nth-child(4) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.p-hotNews__moreLink {
  width: 40%;
  text-align: center;
  margin: 64px auto;
}
@media screen and (max-width: 768px) {
  .p-hotNews__moreLink {
    width: 90%;
  }
}
.p-hotNews__moreLink a {
  display: block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000000;
  padding: 12px 0;
}
@media screen and (min-width: 768px) {
  .p-hotNews__moreLink a {
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
    transition: color 0.6s, background-position 0.6s;
  }
}
.p-hotNews__moreLink a:hover {
  background-position: 0 0;
}
.p-hotNews__more {
  font-size: 13px;
}

.p-onlineShop {
  background-color: #f8f8f8;
}
@media screen and (min-width: 768px) {
  .p-onlineShop {
    display: flex;
    gap: 60px;
    padding: 100px 20px;
  }
}
@media screen and (max-width: 768px) {
  .p-onlineShop {
    padding: 100px 28px;
  }
}
@media screen and (min-width: 768px) {
  .p-onlineShop__leftBox {
    width: 30%;
  }
}
.p-onlineShop__textBox {
  text-align: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .p-onlineShop__textBox {
    text-align: center;
  }
}
.p-onlineShop__newsTitle {
  font-size: 30px;
  margin: 0;
}
.p-onlineShop__newsSubtitle {
  font-size: 16px;
  margin: 0;
}
.p-onlineShop__btn {
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-onlineShop__btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .p-onlineShop__prevBtn {
    width: 3vw;
    cursor: pointer;
  }
}
.p-onlineShop__prevBtn img {
  vertical-align: bottom;
}
.p-onlineShop__nextBtn {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__nextBtn {
    width: 3vw;
    cursor: pointer;
  }
}
.p-onlineShop__nextBtn img {
  vertical-align: bottom;
}
.p-onlineShop__newsMore {
  text-align: center;
  margin: 64px auto;
}
@media screen and (max-width: 768px) {
  .p-onlineShop__newsMore {
    display: none;
  }
}
.p-onlineShop__newsMore a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  border: 1px solid #000000;
  padding: 12px 0;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
  transition: color 0.6s, background-position 0.6s;
}
.p-onlineShop__newsMore a:hover {
  background-position: 0 0;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__rightBox {
    width: 70%;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
}
.p-onlineShop__itemImg {
  position: relative;
  overflow: hidden;
}
.p-onlineShop__itemImg img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__itemImg img {
    transition: 1s all;
  }
}
@media screen and (min-width: 768px) {
  .p-onlineShop__itemImg img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
  }
}
.p-onlineShop__label {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #7e7562;
  margin: 0;
  padding: 5px 0;
}
.p-onlineShop__label::after {
  content: "";
  display: inline-block;
  -webkit-clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
  background-color: #7e7562;
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 3;
}
.p-onlineShop__label a {
  padding: 7px 10px 8px 15px;
}
.p-onlineShop__label span {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 11px;
}
.p-onlineShop__items {
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__items {
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    width: 210%;
    height: 100%;
    transition: all 0.3s;
  }
}
.p-onlineShop__itemName {
  font-size: 16px;
  margin: 0;
}
.p-onlineShop__itemText {
  font-size: 14px;
  margin: 10px 0 50px 0;
}
.p-onlineShop__items li {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__items li {
    margin-right: 13px;
    width: 33.33%;
    height: 100%;
    font-size: 16px;
  }
}
.p-onlineShop__items li a {
  font-size: 1.3vw;
  text-decoration: none;
  outline: none;
  color: #000000;
}
.p-onlineShop__spMore {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-onlineShop__spMore {
    display: none;
  }
}
.p-onlineShop__spMore a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  text-align: center;
  border: 1px solid #000000;
  padding: 12px 0;
}

.slide1 { /* スライドさせるために必要なクラス */
  transform: translateX(0);
}

.slide2 { /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}

.slide3 { /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}

.p-shopList {
  margin: 54px 24px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 54px 0;
}
.p-shopList__titleBox {
  text-align: center;
}
.p-shopList__title {
  font-size: 34px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .p-shopList__title {
    font-size: 30px;
  }
}
.p-shopList__subTitle {
  font-size: 16px;
  margin: 0;
}
.p-shopList__btn {
  display: grid;
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .p-shopList__btn {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .p-shopList__btn {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.p-shopList__btn li {
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-shopList__btn li {
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #efece4 0%, #efece4 50%, #fff 50%, #fff 100%);
    transition: color 0.6s, background-position 0.6s;
  }
}
.p-shopList__btn li:hover {
  background-position: 0 0;
}
.p-shopList__btn a {
  display: block;
  font-size: 1.4vw;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
  padding: 10px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-shopList__btn a {
    font-size: 10px;
  }
}

.p-project {
  padding: 90px 24px;
  background: url(../../assets/img/header-color.jpg);
}
.p-project__textBox {
  text-align: center;
}
.p-project__title {
  font-size: 34px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .p-project__title {
    font-size: 30px;
  }
}
.p-project__subTitle {
  font-size: 16px;
  margin: 0;
}
.p-project__article {
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .p-project__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.p-project__img {
  height: 156px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .p-project__img {
    height: 200px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-project__article li {
  list-style-type: none;
  position: relative;
  margin: 30px 12px;
}
.p-project__article a {
  color: #000;
  display: block;
}
@media screen and (min-width: 768px) {
  .p-project__article a {
    background-color: #fff;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 768px) {
  .p-project__article a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.p-project__article span {
  position: absolute;
  top: 32%;
  left: 0;
  font-size: 1.3vw;
  padding: 12px 40px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
}
@media screen and (max-width: 768px) {
  .p-project__article span {
    font-size: 3.5vw;
    top: 36%;
  }
}

.p-guidance {
  margin: 90px 16px;
}
.p-guidance__list {
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .p-guidance__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-guidance__img {
  height: 156px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .p-guidance__img {
    height: 200px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-guidance__list li {
  list-style-type: none;
  position: relative;
  margin: 30px 12px;
}
.p-guidance__list li a {
  color: #000;
  text-decoration: none;
  display: block;
}
@media screen and (min-width: 768px) {
  .p-guidance__list li a {
    background-color: #fff;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 768px) {
  .p-guidance__list a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.p-guidance__list span {
  position: absolute;
  width: 50%;
  height: 16%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 1.5vw;
  padding: 12px 24px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .p-guidance__list span {
    font-size: 3.5vw;
  }
}

.l-footer__logo {
  width: 12.5vw;
  height: auto;
  margin: 0px 20px 20px 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 768px) {
  .l-footer__logo {
    display: none;
  }
}
.l-footer__logo:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.l-footer__topArea {
  margin: 0 auto 80px;
}
@media screen and (min-width: 768px) {
  .l-footer__topArea {
    display: flex;
    justify-content: space-around;
  }
}
.l-footer__menuList1 {
  padding-inline-start: 0;
}
@media screen and (min-width: 768px) {
  .l-footer__menuList1 {
    display: flex;
    gap: clamp(25px, 4.5vw, 50px);
  }
}
@media screen and (max-width: 768px) {
  .l-footer__menuList1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 16px;
  }
}
.l-footer__menuList1 li {
  list-style: none;
}
.l-footer__menuList1 li a {
  font-size: 1.2vw;
  color: #000;
  text-decoration: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .l-footer__menuList1 li a {
    background-color: #fff;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__menuList1 li a {
    display: block;
    font-size: 12px;
    border: 1px solid #c1c1c1;
    padding: 4px 0;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__menuList1 li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.l-footer__iconList {
  display: flex;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .l-footer__iconList {
    display: flex;
    width: 12vw;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__iconList a {
    background-color: #fff;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__iconList a {
    width: 6vw;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__iconList a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}
.l-footer__menuList2 {
  display: flex;
  margin: 0 40px 40px;
  padding: 0;
  background-color: #ccc4ad;
  font-size: 1.2vw;
  gap: 2px;
  padding: 2px;
}
@media screen and (max-width: 768px) {
  .l-footer__menuList2 {
    display: none;
  }
}
.l-footer__menuList2 li {
  width: 25%;
  text-align: center;
  list-style-type: none;
}
.l-footer__menuList2 li.current a {
  background-color: #fff;
  color: #000;
}
.l-footer__menuList2 li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 16px 2px;
  background-color: #efece4;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.l-footer__menuList2 li a:hover {
  cursor: pointer;
  background-color: #e0d8c0;
}
.l-footer__copy {
  padding: 22px 0;
  background-color: #efece4;
  text-align: center;
}

.p-pageTop {
  height: 100px;
  width: 10.5vw;
  font-family: serif;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 20px;
  display: none;
  z-index: 2;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-pageTop {
    width: 40.5vw;
    height: 80%;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-pageTop:hover {
    transform: translateY(3px);
  }
}

.p-pageTop span {
  display: block;
  background: url(../../assets/img/coffee-mill.png) no-repeat center center/60%;
  width: 10.5vw;
  font-size: 1vw;
}
@media screen and (max-width: 768px) {
  .p-pageTop span {
    font-size: 1.8vw;
    width: 20.5vw;
  }
}/*# sourceMappingURL=style.css.map */