body {
  margin: 0;
}

img {
  width: 100%;
}

.l-wrap {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 2.5vw;
}
@media screen and (min-width: 768px) {
  header {
    display: none;
  }
}

.p-sp__headerLogo {
  width: 16vw;
  height: 100%;
}

.p-sp__phrase {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-left: 2.5vw;
}

.p-hamburger__icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fff;
}

.p-sp__hamburgerNav {
  margin-left: auto;
}

.p-hamburger__icon span {
  display: inline-block;
  position: absolute;
  left: 13px;
  height: 2px;
  background-color: #666;
}

.p-hamburger__icon span:nth-of-type(1) {
  top: 22px;
  width: 55%;
}

.p-hamburger__icon span:nth-of-type(2) {
  top: 35px;
  width: 55%;
}

.l-main__menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #efece4;
  font-size: 1.2vw;
}
@media screen and (max-width: 768px) {
  .l-main__menu ul {
    font-size: 1.8vw;
  }
}

.l-main__menu li {
  width: 25%;
  text-align: center;
  list-style-type: none;
  padding: 2px 2px 0 0;
}

.l-main__menu ul li.current a {
  background: url(../../assets/img/header-color.jpg) no-repeat center center/1400px;
  color: #fff;
}

.p-sofia {
  font-family: serif;
  font-weight: 600;
}

.l-main__menu li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 16px 2px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.p-main__logo {
  width: 12.5vw;
  height: auto;
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width: 768px) {
  .p-main__logo {
    display: none;
  }
}

.p-search__contents {
  width: 50%;
}

.c-form1 {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-form1 {
    display: none;
  }
}

.c-sbox1 {
  width: 50vw;
  border: none;
  padding: 12px 40px 12px 20px;
}

.c-sbtn2 {
  padding: 16px;
}

.c-sbtn2 img {
  border: none;
}

.l-main__menu2 ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .l-main__menu2 ul {
    display: none;
  }
}

.l-main__menu2 li {
  list-style-type: none;
  position: relative;
  padding: 0 1.5vw;
}

.l-main__menu2 li a {
  font-size: 1.2vw;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.l-main__menu2 li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 0;
  background: #fff;
}

.p-pickUp__contents {
  background: url(../../assets/img/header-color.jpg) no-repeat center/1400px;
  background-position: top left;
  background-size: 100% 50%;
}

.p-pickUp__contents img {
  width: 85%;
  margin: auto;
  display: block;
}

.l-top__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../../assets/img/header-color.jpg) no-repeat center center/1400px;
  padding: 2vw 3vw 0 3vw;
}

.p-hotNews__title {
  display: flex;
  justify-content: center;
}

.p-hotNews__icon {
  width: 10%;
  height: 100%;
  padding: 20px;
}

.p-news__list {
  display: flex;
  flex-wrap: wrap;
  padding: 4vw;
}

.p-news__img {
  width: calc(90% - 6px);
}

.p-news__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-news__list article {
  width: 46%;
  position: relative;
  padding: 10px;
}

.l-onlineShop__area {
  display: flex;
}

.p-onlineShop__items {
  display: flex;
}

.p-onlineShop__items li {
  list-style-type: none;
}

.p-onlineShop__items li a {
  font-size: 1.3vw;
  text-decoration: none;
  outline: none;
  color: #000000;
}

.p-onlineShop__items--img {
  width: 10vw;
}/*# sourceMappingURL=style.css.map */